body,html{       
  /* 顶端大佬的全局设置 */
  -webkit-tap-highlight-color: rgba(255,0,0,0);
  appearance: none;
  background: #E0E0E0;
  /* overflow-y: scroll; */
  width: 100%;
  height: 100%;
}
body,h1,h2,h3,hr,p,ul,li,img{   
  /* 小弟们的初始设置 */
  border: none;
  margin: 0;
  padding: 0;
}
a{
  /* 去除a标签的默认样式 */
  text-decoration: none;
  color: inherit;
}
img{
  /* 图片标签的默认格式 */
  vertical-align: middle;
  user-select: none;
}
#app {
  /* vue自带默认样式 */
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
nav{
  /* 底部的nav导航栏 */
  display: flex;
  background: #da493e;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  z-index: 99;
}
input[type="text"]{  
  /* 输入型表单全局样式 */
  outline-style: none;
  border: 1px solid Gainsboro; 
  border-radius: 20px;  
  height: 25px;
  line-height: 25px;
}
input[type="text"]:focus{  
  /* 输入型表单激活样式 */ 
  border-color: #DB4137;  
  outline: 0; 
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px rgba(219,65,55,.6)
}
#pop{   
  /* 泡泡的具体实现 */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: none;
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, .15);
}